{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deluxe hotel</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Bora.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma..css' %}">
</head>
<body>
<section class=" header_1">
    <div class="hero">
        <nav>
            <a href="" class="logo">Luxe</a>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Hotels</a>
                    <ul class="dropdown">
                        <li><a href="">Luxe hotel</a></li>
                        <li><a href="">Deluxe hotel</a></li>
                        <li><a href="">Bora hotel</a></li>
                    </ul>
                </li>
                <li><a href="">Services</a></li>
                <li><a href="">Blog</a></li>
            </ul>
        </nav>
        <p class="title hero_text has-text-white">Our rooms</p>
    </div>
</section>
<section class="section">
    <div class="columns is-centered">
        <div class="column is-3">
            <div class="box">
                <img src="michel-stockman-sMh8FU25ZkE-unsplash.jpg" alt="">
                <p class="subtitle">Room №1</p>
                <p class="has-text-grey-light">Far far away, behind the word mountains, far from the countries Vokalia
                    and Consonantia, there live the
                    blind texts.</p><br>
                <div class="container has-text-centered">
                    <button class="btn_book">
                        Book now
                    </button>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="box">
                <img src="point3d-commercial-imaging-ltd-oxeCZrodz78-unsplash.jpg" alt="">
                <p class="subtitle">Room №2</p>
                <p class="has-text-grey-light">Far far away, behind the word mountains, far from the countries Vokalia
                    and Consonantia, there live the
                    blind texts.</p><br>
                <div class="container has-text-centered">
                    <button class="btn_book">
                        Book now
                    </button>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="box">
                <img src="sidekix-media-EoTUCbv9Jrs-unsplash.jpg" alt="">
                <p class="subtitle">Room №3</p>
                <p class="has-text-grey-light">Far far away, behind the word mountains, far from the countries Vokalia
                    and Consonantia, there live the
                    blind texts.</p><br>
                <div class="container has-text-centered">
                    <button class="btn_book">
                        Book now
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-3">
            <div class="box">
                <img src="steven-ungermann-aRT5UCf2MYY-unsplash.jpg" alt="">
                <p class="subtitle">Room №4</p>
                <p class="has-text-grey-light">Far far away, behind the word mountains, far from the countries Vokalia
                    and Consonantia, there live the
                    blind texts.</p><br>
                <div class="container has-text-centered">
                    <button class="btn_book">
                        Book now
                    </button>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="box">
                <img src="visualsofdana-T5pL6ciEn-I-unsplash.jpg" alt="">
                <p class="subtitle">Room №5</p>
                <p class="has-text-grey-light">Far far away, behind the word mountains, far from the countries Vokalia
                    and Consonantia, there live the
                    blind texts.</p><br>
                <div class="container has-text-centered">
                    <button class="btn_book">
                        Book now
                    </button>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="box">
                <img src="r-architecture-Eh_It1hg4Hs-unsplash.jpg#" alt="">
                <p class="subtitle">Room №6</p>
                <p class="has-text-grey-light">Far far away, behind the word mountains, far from the countries Vokalia
                    and Consonantia, there live the
                    blind texts.</p><br>
                <div class="container has-text-centered">
                    <button class="btn_book">
                        Book now
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container2">
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-2">
                <p>Company</p><br>
                <a href="" class="has-text-danger">About Us</a><br>
                <a href="" class="has-text-danger">Hotels</a><br>
                <a href="" class="has-text-danger">Customer</a><br>
                <a href="" class="has-text-danger">Care</a><br>
                <a href="" class="has-text-danger">Contact Us</a><br>
            </div>
            <div class="column is-2">
                <p>Our Facilities</p><br>
                <a href="" class="has-text-danger">Restaurant</a><br>
                <a href="" class="has-text-danger">Bars</a><br>
                <a href="" class="has-text-danger">Pick-up</a><br>
                <a href="" class="has-text-danger">Swimming</a><br>
                <a href="" class="has-text-danger">Pool</a><br>
                <a href="" class="has-text-danger">Spa</a><br>
                <a href="" class="has-text-danger">Gym</a><br>
            </div>
            <div class="column is-2">
                <p>Subscribe</p><br>
                <p class="has-text-grey">Sed cursus ut nibh in semper. Mauris varius et magna in fermentum.</p><br>
                <input class="input is-black" type="text" placeholder="Email Address">
            </div>
        </div>
    </section>
</div>
</body>
</html>