{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <link rel="stylesheet" href="{% static 'css/bulma.css'%}">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
</head>
<body>
<section class=" header_1">
    <div class="hero">
        <nav>
            <a href="" class="logo">Luxe</a>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Hotels</a>
                    <ul class="dropdown">
                        <li><a href="">Luxe hotel</a></li>
                        <li><a href="">Deluxe hotel</a></li>
                        <li><a href="">Bora hotel</a></li>
                    </ul>
                </li>
                <li><a href="">Services</a></li>
                <li><a href="">Blog</a></li>
            </ul>
        </nav>
        <p class="title hero_text">We Offer Services</p>
    </div>
</section>
<section class="section is-centered container1">
    <div class="columns">
        <div class="column">
            <img class="img_1" src="location-dot-solid.svg" alt="">
        </div>
        <div class="column">
            <p class="subtitle has-text-weight-bold">Accessible Location</p>
            <p class="has-text-grey">Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                ocean.</p>
        </div>
        <div class="column">
            <img class="img_1" src="clock-solid.svg" alt="">
        </div>
        <div class="column">
            <p class="subtitle has-text-weight-bold">Open 24/7</p>
            <p class="has-text-grey">Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                ocean.</p>
        </div>
        <div class="column">
            <img class="img_1" src="calendar-regular.svg" alt="">
        </div>
        <div class="column">
            <p class="subtitle has-text-weight-bold">Reservation</p>
            <p class="has-text-grey">Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                ocean.</p>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <img class="img_1" src="person-solid.svg" alt="">
        </div>
        <div class="column">
            <p class="subtitle has-text-weight-bold">Friendly Staff</p>
            <p class="has-text-grey">Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                ocean.</p>
        </div>
        <div class="column">
            <img class="img_1" src="wifi-solid.svg" alt="">
        </div>
        <div class="column">
            <p class="subtitle has-text-weight-bold">Free Wifi</p>
            <p class="has-text-grey">Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                ocean.</p>
        </div>
        <div class="column is-centered">
            <img class="img_1" src="location-dot-solid.svg" alt="">
        </div>
        <div class="column">
            <p class="subtitle has-text-weight-bold">Accessible Location</p>
            <p class="has-text-grey">Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                ocean.</p>
        </div>
    </div>
</section>
<div class="container2">
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-2">
                <p>Company</p><br>
                <a href="" class="has-text-danger">About Us</a><br>
                <a href="" class="has-text-danger">Hotels</a><br>
                <a href="" class="has-text-danger">Customer</a><br>
                <a href="" class="has-text-danger">Care</a><br>
                <a href="" class="has-text-danger">Contact Us</a><br>
            </div>
            <div class="column is-2">
                <p>Our Facilities</p><br>
                <a href="" class="has-text-danger">Restaurant</a><br>
                <a href="" class="has-text-danger">Bars</a><br>
                <a href="" class="has-text-danger">Pick-up</a><br>
                <a href="" class="has-text-danger">Swimming</a><br>
                <a href="" class="has-text-danger">Pool</a><br>
                <a href="" class="has-text-danger">Spa</a><br>
                <a href="" class="has-text-danger">Gym</a><br>
            </div>
            <div class="column is-2">
                <p>Subscribe</p><br>
                <p class="has-text-grey">Sed cursus ut nibh in semper. Mauris varius et magna in fermentum.</p><br>
                <input class="input is-black" type="text" placeholder="Email Address">
            </div>
        </div>
    </section>
</div>
</body>
</html>